<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fhq.dao.CrrInventoryMapper">
  <resultMap id="BaseResultMap" type="com.fhq.model.CrrInventory">
    <id column="id_key" jdbcType="INTEGER" property="idKey" />
    <result column="asset_no" jdbcType="VARCHAR" property="assetNo" />
    <result column="asset_quantity" jdbcType="VARCHAR" property="assetQuantity" />
    <result column="last_time" jdbcType="TIMESTAMP" property="lastTime" />
    <result column="last_opr" jdbcType="VARCHAR" property="lastOpr" />
    <result column="job_flag" jdbcType="INTEGER" property="jobFlag" />
  </resultMap>
  <sql id="Base_Column_List">

    id_key, asset_no, asset_quantity, last_time, last_opr, job_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">

    select 
    <include refid="Base_Column_List" />
    from crr_inventory
    where id_key = #{idKey,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">

    delete from crr_inventory
    where id_key = #{idKey,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fhq.model.CrrInventory">

    insert into crr_inventory (id_key, asset_no, asset_quantity, 
      last_time, last_opr, job_flag
      )
    values (#{idKey,jdbcType=INTEGER}, #{assetNo,jdbcType=VARCHAR}, #{assetQuantity,jdbcType=VARCHAR}, 
      #{lastTime,jdbcType=TIMESTAMP}, #{lastOpr,jdbcType=VARCHAR}, #{jobFlag,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fhq.model.CrrInventory">

    insert into crr_inventory
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idKey != null">
        id_key,
      </if>
      <if test="assetNo != null">
        asset_no,
      </if>
      <if test="assetQuantity != null">
        asset_quantity,
      </if>
      <if test="lastTime != null">
        last_time,
      </if>
      <if test="lastOpr != null">
        last_opr,
      </if>
      <if test="jobFlag != null">
        job_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idKey != null">
        #{idKey,jdbcType=INTEGER},
      </if>
      <if test="assetNo != null">
        #{assetNo,jdbcType=VARCHAR},
      </if>
      <if test="assetQuantity != null">
        #{assetQuantity,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null">
        #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastOpr != null">
        #{lastOpr,jdbcType=VARCHAR},
      </if>
      <if test="jobFlag != null">
        #{jobFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fhq.model.CrrInventory">

    update crr_inventory
    <set>
      <if test="assetNo != null">
        asset_no = #{assetNo,jdbcType=VARCHAR},
      </if>
      <if test="assetQuantity != null">
        asset_quantity = #{assetQuantity,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null">
        last_time = #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastOpr != null">
        last_opr = #{lastOpr,jdbcType=VARCHAR},
      </if>
      <if test="jobFlag != null">
        job_flag = #{jobFlag,jdbcType=INTEGER},
      </if>
    </set>
    where id_key = #{idKey,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fhq.model.CrrInventory">

    update crr_inventory
    set asset_no = #{assetNo,jdbcType=VARCHAR},
      asset_quantity = #{assetQuantity,jdbcType=VARCHAR},
      last_time = #{lastTime,jdbcType=TIMESTAMP},
      last_opr = #{lastOpr,jdbcType=VARCHAR},
      job_flag = #{jobFlag,jdbcType=INTEGER}
    where id_key = #{idKey,jdbcType=INTEGER}
  </update>
</mapper>